/* Form Stili */
.register-form {
  background-color: #2d2d2d; /* Koyu gri arka plan */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
}

/* Form Grup Stili */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #fff; /* Beyaz metin rengi */
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ffc107; /* Sarı kenarlık */
  border-radius: 4px;
  background-color: #1c1c1c; /* Siyah arka plan */
  color: #fff; /* Beyaz metin rengi */
}

/* Radio Butonlar */
.form-group div {
  margin-bottom: 5px;
}

.form-group input[type="radio"] {
  margin-right: 5px;
}

.form-group label[for="user"],
.form-group label[for="admin"] {
  color: #fff; /* Beyaz metin rengi */
}

/* Gönder Butonu Stili */
.submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #ffc107; /* Sarı arka plan */
  color: #333; /* Koyu gri metin rengi */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #e0a800; /* Buton hover rengi */
}

/* Giriş Yap Linki Stili */
.login-link {
  margin-top: 20px;
}

.login-link p {
  color: #fff; /* Beyaz metin rengi */
}

.login-link-text {
  color: #ffc107; /* Sarı renk */
  text-decoration: none;
}

.login-link-text:hover {
  text-decoration: underline;
}
