<div class="category-container">
  <div class="category-list">
    <h2>Kategoriler</h2>
    <ul>
      <li *ngFor="let category of categories">
        <strong>İsim:</strong> {{ category.name }}  <strong>ID:</strong> {{ category.id }}
      </li>
    </ul>
  </div>
  
  <div class="category-form">
    <h2>Kategori Ekle</h2>
    <form (ngSubmit)="addCategory()">
      <div class="form-group">
        <label for="categoryName">Kategori İsmi:</label>
        <input id="categoryName" [(ngModel)]="newCategoryName" name="categoryName" required />
      </div>
      <button type="submit">Kategori Ekle</button>
    </form>
  </div>
</div>
