<div class="statistics-container">
    <h1>İstatistik</h1>
  
    <div class="statistics-summary">
      <div class="stat-item">
        <h2>Toplam Kullanıcı</h2>
        <p>{{ totalUsers }}</p>
      </div>
      <div class="stat-item">
        <h2>Toplam Aktivite</h2>
        <p>{{ totalEvents }}</p>
      </div>
      <div class="stat-item">
        <h2>Toplam Kategori</h2>
        <p>{{ totalCategories }}</p>
      </div>
      <div class="stat-item">
        <h2>Aktif Aktiviteler</h2>
        <p>{{ totalUpcomingEvents }}</p>
      </div>
      <div class="stat-item">
        <h2>Bir Hafta İçindeki Aktiviteler</h2>
        <p>{{ totalEventsNextWeek }}</p>
      </div>
      <div class="stat-item">
        <h2>Toplam Bildirim</h2>
        <p>{{ totalNotifications }}</p>
      </div>
    </div>
  </div>
  