.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  background: aliceblue;
  font-family: 'Arial', sans-serif;
}

.form-content-register,
.form-content-login {
  width: 450px;
  height: 400px;
  background-color: #ffffff; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.form-content-login {
  position: absolute;
  transform: translateY(-10px);
}

input {
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #2193b0;
  outline: none;
}

button {
  width: 98%;
  height: 45px;
  background-color: #2193b0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6dd5ed;
}

a {
  text-decoration: none;
  color: #2193b0;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

a:hover {
  color: #6dd5ed;
}

.hidden {
  display: none;
}
